@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';

.btn {
	border: none;
	background-color: colors.$moderate-blue;
	border-radius: 5px;
	color: colors.$white;
	padding: 12px 24px;
	cursor: pointer;
	transition: opacity .2s;

	&:hover {
		opacity: .65;
	}
}

@media(max-width: breakpoints.$mobile) {
	.btn {
		padding: 6px 14px;
	}

}