@use '../../../styles/colors.scss';
@use '../../../styles/breakpoints.scss';

.comment-container {
	display: flex;
	align-items: flex-start;
	gap: 16px;

	&.bad-comment {
		opacity: .6;
		transition: opacity .2s;

		&:hover {
			opacity: 1;
		}
	}
}

.comment-info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 14px;
	width: 100%;

	.comment-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.user-info {
			display: flex;
			align-items: center;
			gap: 16px;
		}
	}
}

.user-info {
	.username {
		color: colors.$dark-blue;
		font-family: inherit;
		font-size: 14px;
		font-weight: 500;
	}

	.current-user-hit {
		background-color: colors.$moderate-blue;
		color: colors.$white;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
	}

	.comment-time {
		color: colors.$grayish-blue;
	}
}

.action-btn-wrapper {
	display: flex;
	align-items: center;

	.action-btn {
		background: transparent;
		color: colors.$moderate-blue;
		display: flex;
		align-items: center;
		gap: 6px;
		font-family: inherit;
		font-size: 16px;
		font-weight: 700;
	}

	.danger {
		color: colors.$soft-red;
	}
}

.reply-container {
	margin-bottom: 12px;
}

@media(max-width: breakpoints.$mobile) {
	.comment-container {
		flex-direction: column;
		position: relative;
	}

	.comment-info {
		order: 1;
	}

	.action-btn-wrapper {
		position: absolute;
    right: 0;
    bottom: 0;
	}
}