@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&.reply-list {
		margin-left: 25px;
		padding-left: 25px;
		border-left: 2px solid colors.$reply-list-border;
	}
}

@media(max-width: breakpoints.$mobile) {
	.container {
		&.reply-list {
		margin-left: 2px;
		padding-left: 18px;
		}
	}
}